body{
	background-color: #f1f1f1;
}
.wrap-iklan-baris {
    margin: 10px 20px 0 2px;
}
.title-iklan-baris{
	color: #32373c;
    font-family: tahoma;
}
.wrap-acess{
	background-color: #fff;
}

.wrap-content{
	background-color: #fff
}
